<div class="bounding-tile-creation">
  <div class="how-to">
    <i class="fas fa-border-style"></i>
    <span>{{localize "share-media.dialogs.bounding-tile-creation.how-to"}}</span>
  </div>
  <hr />
  <form>
    <div class="form-group">
      <label for="name">{{localize "share-media.dialogs.bounding-tile-creation.field-name"}}</label>
      <input
        type="text"
        name="name"
        value="{{defaultName}}"
        id="name"
        placeholder="{{localize 'share-media.dialogs.bounding-tile-creation.field-name'}}"
      />
    </div>
  </form>
  <hr />
</div>