<form class="{{cssClass}} flexcol" autocomplete="off">
    {{#if isVideo}}
        <video playsinline src="{{image}}">
    {{else}}
        <div class="lightbox-image" style="background-image: url('{{image}}')"></div>
    {{/if}}
</form>