#share-media-player-selection-dialog {
    hr {
        margin: 15px 0;
    }

    .how-to {
        display: flex;
        width: 75%;
        margin: 0 auto;
        align-items: center;
        text-align: center;
        font-weight: 700;

        img {
            width: 50px;
            height: 50px;
            object-fit: cover;
            margin-right: 15px;
        }
    }

    .player-color {
        flex: 0 0 7px;
        height: 7px;
        border-radius: 50%;
        background: #c0c0c0;
        border: 1px solid #c0c0c0;
        margin-right: 10px;
    }

    .form-group.disabled {
        color: #c0c0c0;
    }
}