$icon-color: #bbbbbb;
$inverted-icon-color: #444444;
$disabled-color: #c0c0c0;

@mixin denim-background($repeat: no-repeat) {
    background-image: url("../../../ui/denim075.png");
    background-repeat: $repeat;
}