@layer shm.layouts {
  .chat-log .shm.chat-message {
    /* -------------------------------------------- */
    /*  Containers
    /* -------------------------------------------- */

    figure {
      /*  Reset CSS  */
      margin: 0;
    }

    /* -------------------------------------------- */
    /*  Media
    /* -------------------------------------------- */

    img,
    video {
      border-radius: 3px;
    }

    /* -------------------------------------------- */
    /*  Caption
    /* -------------------------------------------- */

    figcaption {
      margin-top: 0.5rem;
    }
  }
}
