@layer shm.layouts {
  .chat-log .shm.chat-message {
    /* -------------------------------------------- */
    /*  Containers
    /* -------------------------------------------- */

    figure {
      /*  Reset CSS  */
      margin: 0;

      .media {
        cursor: pointer;
      }
    }

    /* -------------------------------------------- */
    /*  Media
    /* -------------------------------------------- */

    img,
    video {
      pointer-events: none;

      border-radius: 3px;
      transition: filter 0.25s;

      /*  States  */
      .media:hover & {
        filter: brightness(1.1);
      }
    }

    /* -------------------------------------------- */
    /*  Caption
    /* -------------------------------------------- */

    figcaption {
      margin-top: 0.5rem;
    }
  }
}
