.show-media.clickable-media {
  position: relative;
  display: inline-block;
}

.show-media.clickable-media:hover .media-actions {
  opacity: 1;
}

.show-media .media-actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 5px;
  right: 5px;
  opacity: 0;
  -webkit-transition: opacity 250ms;
  -o-transition: opacity 250ms;
  transition: opacity 250ms;
}

.show-media .media-actions .media-action {
  background-image: url("../../../ui/denim075.png");
  background-repeat: "repeat";
  margin-left: 8px;
  padding: 8px;
  font-size: 12px;
  color: #bbbbbb;
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
}

.show-media .media-actions .media-action:hover {
  border: 1px solid #ff0000;
  -webkit-box-shadow: 0 0 6px inset #ff6400;
  box-shadow: 0 0 6px inset #ff6400;
}

#share-media-player-selection-dialog hr,
#share-media-bounding-tile-creation-dialog hr,
#share-media-share-bounding-tile-selection-dialog hr,
#share-media-clear-bounding-tile-selection-dialog hr {
  margin: 15px 0;
}

#share-media-player-selection-dialog .how-to,
#share-media-bounding-tile-creation-dialog .how-to,
#share-media-share-bounding-tile-selection-dialog .how-to,
#share-media-clear-bounding-tile-selection-dialog .how-to {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 75%;
  margin: 0 auto;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  font-weight: 700;
}

#share-media-player-selection-dialog .how-to i,
#share-media-bounding-tile-creation-dialog .how-to i,
#share-media-share-bounding-tile-selection-dialog .how-to i,
#share-media-clear-bounding-tile-selection-dialog .how-to i {
  background-image: url("../../../ui/denim075.png");
  background-repeat: "no-repeat";
  margin-right: 15px;
  font-size: 30px;
  color: #bbbbbb;
  padding: 10px;
  border-radius: 5px;
}

#share-media-player-selection-dialog .form-group.disabled,
#share-media-bounding-tile-creation-dialog .form-group.disabled,
#share-media-share-bounding-tile-selection-dialog .form-group.disabled,
#share-media-clear-bounding-tile-selection-dialog .form-group.disabled {
  color: #c0c0c0;
}

#share-media-player-selection-dialog .form-group,
#share-media-share-bounding-tile-selection-dialog .form-group,
#share-media-clear-bounding-tile-selection-dialog .form-group {
  width: 90%;
  margin: 0 auto;
}

#share-media-player-selection-dialog .form-group :last-child,
#share-media-share-bounding-tile-selection-dialog .form-group :last-child,
#share-media-clear-bounding-tile-selection-dialog .form-group :last-child {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 20px;
  flex: 0 0 20px;
}

#share-media-player-selection-dialog .player-color {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 7px;
  flex: 0 0 7px;
  height: 7px;
  border-radius: 50%;
  background: #c0c0c0;
  border: 1px solid #c0c0c0;
  margin-right: 10px;
}
