@layer shm.layouts {
  [id^="shm-share-selector"] {
    /* -------------------------------------------- */
    /*  Containers
    /* -------------------------------------------- */

    .window-content {
      gap: 1rem;
    }

    /* -------------------------------------------- */
    /*  Media
    /* -------------------------------------------- */

    img,
    video {
      max-height: 200px;
    }

    /* -------------------------------------------- */
    /*  Form
    /* -------------------------------------------- */

    fieldset {
      gap: 0;
      justify-content: space-around;
      flex-wrap: wrap;
      padding: 1rem 0.5rem;

      .hint {
        flex-basis: 100%;
      }
    }
  }
}
